.git
.idea
.vscode
*.iml
.gitignore
.gitattributes

.run
postman

target
*.class

.env
.env.*
*.pem
*.key

*.log
*.bak
*.tmp
**/logs/

.DS_Store

Dockerfile*
docker-compose*.yml
compose*.yml
README.md
